@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #230312;
}
/* /////////////////header//// */
.container {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 15px;
}
.Box {
  background-color: #1d000d;
}
.Boxes {
  display: flex;
  justify-content: space-between;
}
.Box__input {
  padding-top: 28px;
}
button {
  margin-right: 50px;
  color: white;
}
.button__link:hover {
  background-color: red;
  border-radius: 5px;
  padding: 10px;
}
.Box_button {
  background-color: red;
  border-radius: 5px;
  padding: 10px;
}
.input {
  padding-left: 5px;
}
.image {
  padding: 30px;
}
/* //////////////////////// */

.img_alco {
  height: 300px;
  width: 300px;
}
.img_alco img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.instruction,
.instruction-1,
.instruction-2 {
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
/* ////////////////////////////////home////// */
.coctail {
  margin-top: 40px;
}
.box__coctail {
  display: flex;
  justify-content: space-between;
}
.box__support {
  text-align: center;
  color: white;
}
.support__img {
  margin-left: 90px;
}
hr {
  border-width: 1.5px;
  margin-top: 40px;
}
.input__search {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.input__search__coctail {
  text-align: center;
  height: 30px;
}
.button__search {
  background-color: white;
  color: black;
  padding: 8px;
}
/* ////////////////////////////// */

/* ///////////popular////// */
.popular__text {
  color: white;
}
